$radius : 10px;
.card-box{
    align-items: center;
}
.cards {
    border: 2px solid #3c3e44;
    border-radius: $radius;
    background-color: dimgrey;
}

.img {
    border-radius: $radius 0 0;
}
.statusCircle {
    width: 10px;
    height: 10px;
    border-radius: 50%; /* Makes the div round */
  }
  a {
    text-decoration: none;
  }
  